
.hidden {
  display: none;
}

#columns {
  margin-top: 120px;
}
#leftColumn {
  margin-top: 10px;
  float: left;
  margin-left: 10px;
  width: 275px;
}
#middleColumn {
  margin-top: 10px;
  float: left;
  width: 275px;
  margin-left: 30px;
}
#rightColumn {
  margin-top: 10px;
  float: left;
  width: 320px;
  margin-left: 30px;
}
#portrait {
  width: inherit;
  background-color: black;
}
h3 {
  line-height: 60%;
}
.flashAnimation {
    animation: flash-animation 0.3s linear;
}
@keyframes flash-animation {
    0% { opacity: 1; }
    25%   { opacity: 0; }
    50% { opacity: 1; }
    75%   { opacity: 0; }
    100% { opacity: 1; }
}


.console {
  z-index: 10;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  background-color: black;
  border-style: solid;
  border-width: thick;
  border-color: white;
  font-family: monospace;
  line-height: 150%;
  padding-left: 15px;
  padding-right: 15px;
}
.consoleOld {
  color: gray;
}
.consoleNew {
  color: white;
}
.blinkAnimation{
  animation: blink 1s linear infinite;
}
@keyframes blink {
  50% {
    opacity: 0.2;
  }
}


#dCutsceneScreen {
  margin: auto;
  color: white;
  text-align: center;
  margin-top: 100px;
  width: 500px;
  height: 100%;
}
#dCutsceneMain {
  font-family: "Georgia";
  font-variant-ligatures: none;
}
#tCutsceneSpeaker {
  letter-spacing: 3px;
  line-height: 100%
}
#tCutsceneText {
  margin-top: 0;
  letter-spacing: 3px;
  font-size: 30px;
}
#tCutsceneEnterPrompt {
  position: fixed;
  bottom: 10px;
  right: 20px;
  letter-spacing: 3px;
  opacity: 0;
}
.blinkInAnimation{
  animation: blinkIn 2s linear infinite;
}
@keyframes blinkIn {
  50% {
    opacity: 0.5;
  }
}
#cutscenePortrait {
  width: 50%;
}
#dCutsceneFinal {
  margin-top: 200px;
  width: 100%;
  height: 100%;
  line-height: 100px;
  text-align: center;
}
#imgCutsceneHeart {
  margin-top: 0;
  position: static;
  width: 100%;
}


button {
   border: 1px solid #1a1a1a;
   background: #666666;

   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
   background: -webkit-linear-gradient(top, #ffffff, #888888);
   background: -moz-linear-gradient(top, #ffffff, #888888);
   background: -ms-linear-gradient(top, #ffffff, #888888);
   background: -o-linear-gradient(top, #ffffff, #888888);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #888888 100%);

   padding: 2px 4px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #cccccc 0 1px 0;
   color: #000000;
   font-size: 11px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   outline: none;
   }

button:hover {
   border: 1px solid #898989;
   text-shadow: #d4d4d4 0 1px 0;
   background: #616161;

   background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#888888));
   background: -webkit-linear-gradient(top, #f7f7f7, #888888);
   background: -moz-linear-gradient(top, #f7f7f7, #888888);
   background: -ms-linear-gradient(top, #f7f7f7, #888888);
   background: -o-linear-gradient(top, #f7f7f7, #888888);
   background-image: -ms-linear-gradient(top, #f7f7f7 0%, #888888 100%);

   color: #000000;
   }

button:active {
   text-shadow: #bfbfbf 0 1px 0;
   border: 1px solid #2e2e2e;

   background: #d9d9d9;
   background: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#616161));
   background: -webkit-linear-gradient(top, #595959, #d9d9d9);
   background: -moz-linear-gradient(top, #595959, #d9d9d9);
   background: -ms-linear-gradient(top, #595959, #d9d9d9);
   background: -o-linear-gradient(top, #595959, #d9d9d9);
   background-image: -ms-linear-gradient(top, #595959 0%, #d9d9d9 100%);

   color: #444444;
   }

button:disabled {
   opacity: 0.6;
   border: 1px solid #ffffff;
}
